<link href="../css/login.css" rel="stylesheet" type="text/css">
<div class="card">
    <h2 class="header">Let's Login</h2>
    <% if (messages.error) {%> 
        <%= messages.error  %> 
    <% } %> 
    <form action="/login" method="POST">
        <div>
            <div class="card-item">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="card-item">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>  
            </div>
            
            <button class="btn" type="submit">Login</button>
        </div>
    </form> 
    <a href="/register">Sign In</a>
</div>
    

